@(user: models.UserData)(implicit session: play.api.mvc.Session)

@main("Your Profile") {
    @helper.form(action = routes.HomeController.index(), 'enctype -> "multipart/form-data") {
        <div class = "container">
            <h1>Your Profile</h1>
            <h3>FirstName: @user.firstName</h3>
            <h3>MiddleName: @user.middleName</h3>
            <h3>LastName: @user.lastName</h3>
            <h3>UserName: @user.userName</h3>
            <h3>Email: @user.email</h3>
            <h3>Contact: @user.contact</h3>
            <h3>Age: @user.age</h3>
            <h3>City: @user.address.city</h3>
            <h3>State: @user.address.state</h3>
            <h3>Gender: @user.gender</h3>
            <h3>Hobbies: @user.hobbies</h3>
            <a type = "button" class = "btn btn-warning" href="/upload">Upload Picture</a>
            <button type = "submit" class = "btn btn-primary">Sign Out</button>
            <a type = "button" class = "btn btn-success">Management</a>
        </div>
   }
}
